.option {
  color        : rgb(102, 102, 102);
  font-size    : 14px;
  font-weight  : 500;
  line-height  : 22px;
  margin-bottom: 8px;
}

.field {
  &:first-child {
    margin-bottom: 10px;
  }
}

.inputs {
  display    : inline-flex;
  align-items: flex-end;
}

.dot,
.slash,
.tilde {
  width          : 1vw;
  display        : flex;
  justify-content: center;
}

.slash,
.tilde {
  align-self: center;
}

.input {
  width: 62px;
}

.button {
  margin: 16px 0;
}

.buttons {
  margin-left: 14px;
}

.icon {
  font-size: 10px;
}

.menu {
  width       : 371px;
  // transform: translateX(-440px);
}